:root {
    --color-bg: #262c3c;
    --color-fg: #fffcfa;
    --color-link: #e8b9e2;
    --color-link-visited: #e8b9e2;
    --color-link-hover: #e4803b;
}

html,
body {
    background: url("wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
    color: var(--color-fg);
    font-family: "Fira Code";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    grid-template-areas: ". left right .";
    column-gap: 80px;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(8px);
}

.left-container {
    display: flex;
    grid-area: left;
    aspect-ratio: auto;
}

.right-container {
    grid-area: right;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jpg img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: auto;
}

.category {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.bookmarks {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px;
}

a:link {
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}

.blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

.weather-widget {
    top: 20px;
    left: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 14px;
    font-family: monospace;
    padding: 8px 12px;
    z-index: 1000;
}

.clock-widget {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-family: monospace;
    font-size: 14px;
    text-align: right; /* Align text to the right */
    z-index: 1000;
    padding: 8px 12px;
}

.clock-widget span {
    display: block; /* Force line breaks */
    line-height: 1.4;
}

#time {
    font-size: 16px;
    font-weight: bold;
}

#date {
    opacity: 0.8;
    font-size: 14px;
    padding-top: 8px;
}

#greeting {
    font-weight: bold;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
